
.preview {
  display: block;
  border: 1px solid #3c4043;
  border-radius: 8px;
  box-shadow: none;
  background-color: transparent;
  color: #bdc1c6;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  cursor: pointer;
  text-align: left;
}

.preview-img{
  display: flex;
    justify-content: center;
    margin: 16px 0 16px 16px;
}
.image-container{
  background-color: rgb(116, 116, 116);
    height: 112px;
    width: 112px;
}
.preview-text{
  flex-grow: 1;
    width: 0;
    padding: 16px 0 40px;
    position: relative;
    
}
.preview-source{
    
    font-size: 12px;
    line-height: 1.3333333333333333em;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 8px;
}
.preview-title{
  -webkit-line-clamp: 3;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  white-space: normal;
  font-size: 18px;
  line-height: 1.3333333333333333em;
  font-family: Roboto-Medium,sans-serif;
}
.preview-content{
  margin-top: 8px  ;
      -webkit-line-clamp: 3;
      color: #9aa0a6;
      font-size: 14px;
    line-height: 1.4285714285714286em;
    margin: 0;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    white-space: normal;
}
.preview-date{
  position: absolute;
  left: -16px;
    bottom: 16px;
    padding: 0 16px;
    color: #9aa0a6;
    font-size: 12px;
    line-height: 1.3333333333333333em;
}
.navi{
  display: flex;
  width: 100%;
  flex-direction: row;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
}
.button{
  background-color: #9aa0a6;
  border: 0px;
  border-radius: 2px;
}
.navi-pagenum{
  padding: 0 16px 0 16px;
}



.feed {
  padding-top: 100px;
}
.expand{
  padding-top: 100px;
}
.expand-head{
  padding-bottom: 0.8rem;
  border-bottom: 2px solid #3c4043;
  font-size: 12px;
  line-height: 1.3333333333333333em;
  color: #9aa0a6;
}
.expand-title{
  white-space: normal;
  font-size: 20px;
  line-height: 1.3333333333333333em;
  font-weight: normal;
  font-family: Roboto-Medium,sans-serif;
  color: #bdc1c6;
}

.app {
  clear: both;
  position: relative;
  margin-left: 180px;
  width: 652px;  
}

