






.preview {
  display: block;
  border: 1px solid #3c4043;
  border-radius: 8px;
  box-shadow: none;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding-left: 16px;
  padding-right: 16px;
  color: #8ab4f8;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(255,255,255,.10);

}
.preview-img{
  display: flex;
    justify-content: center;
    margin: 16px 0 16px 16px;
}
.image-container{
  background-color: #111;
    height: 112px;
    width: 112px;
}
.preview-text{
  flex-grow: 1;
    width: 0;
    padding: 16px 0 40px;
    position: relative;
}
.preview-source{
  color: #bdc1c6;
    font-family: arial,sans-serif;
    font-size: 12px;
    line-height: 1.3333333333333333em;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 8px;
}
.preview-title{
  -webkit-line-clamp: 3;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  white-space: normal;
  font-size: 18px;
  line-height: 1.3333333333333333em;
  color: #bdc1c6;
    font-family: Roboto-Medium,sans-serif;
}
.preview-content{
  margin-top: 8px  ;
      -webkit-line-clamp: 3;
      color: #9aa0a6;
      font-size: 14px;
    line-height: 1.4285714285714286em;
    margin: 0;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    white-space: normal;
}
.preview-button{
  position: absolute;
  left: -16px;
    bottom: 16px;
    padding: 0 16px;
}


.feed {
  clear: both;
  position: relative;
  margin-left: 180px;
  width: 652px;
  font-size: medium;
  font-weight: normal;
  line-height: 1.2;
}

.app {
  padding-top: 100px;
}

